{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %} {{ title('admin_Service_new_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'admin_Service_new_title'|trans }}</span>
    <span class="desc"></span>
    <a href="{{ path('admin_service_index') }}" class="addbtn btn-success"   ><i class="material-icons">arrow_back</i></a>

{% endblock %}

{# Content Navigation #}
{% block content_nav %}{% endblock %}

{# Content Body #}
{% block content_body %}



    <div class="content-form">
        {{ include('service/_form.html.twig') }}

    </div>
{% endblock %}


