<!DOCTYPE html>

<title>Edit ContactService</title>

{% block body %}
    <h1>Edit ContactService</h1>

    {{ include('contact_service/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_contact_service_index') }}">back to list</a>

    {{ include('contact_service/_delete_form.html.twig') }}
{% endblock %}
