<form method="post" action="{{ path('loyalty_cards_delete', {'id': loyalty_card.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ loyalty_card.id) }}">
    <button class="btn">Delete</button>
</form>
