<!DOCTYPE html>

<title>New LoyaltyCards</title>

{% block body %}
    <h1>Create new LoyaltyCards</h1>

    {{ include('loyalty_cards/_form.html.twig') }}

    <a href="{{ path('loyalty_cards_index') }}">back to list</a>
{% endblock %}
